* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-body);
  overflow-x: hidden;
}
main {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.containerDetailUser {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.06)
  );
  padding: 25px;
  border-radius: 20px;
  width: 60%;
  display: flex;
  align-items: center;
  gap: 30px;
  .detailUser {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  img {
    width: 100px;
    border-radius: 15px;
  }
  h2 {
    font-family: var(--font-header);
    font-size: 2em;
  }
  p {
    color: var(--text-dim);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  .cantPres {
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    h4 {
      font-size: 0.9em;
      color: var(--text-dim);
    }
    .cant {
      color: #0f0;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 0px;
    }
  }
}

.container-historial {
  width: 60%;
}
.text-historial {
  h2 {
    font-size: 1.5em;
    font-family: var(--font-header);
    color: var(--brand-primary);
  }
  p {
    font-size: 0.9em;
    color: var(--text-dim);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}
